@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Poppins',serif;

}
html{
    font-size: 62.5%;
}
body{
    margin: 10px;
    background: radial-gradient(circle at top left,transparent 9%, black 10% ,black 15% , transparent 16%) , radial-gradient(circle at bottom left,transparent 9%, black 10% , black 15% , transparent 16%), radial-gradient(circle at top right ,transparent 9%, red 10% ,red 15% , transparent 16%) , radial-gradient(circle at bottom right,transparent 9%, red 10% ,red 15% , transparent 16%),radial-gradient(circle, transparent 25%, #ffffff  26%),linear-gradient(45deg, transparent 46%, black 47%, black 52%, transparent 53%), linear-gradient(135deg, transparent 46%, red 47%, red 52%, transparent 53%);
        background-size: 3em 3em;
        background-color: #ffffff;
        opacity: 1;
    overflow-x: hidden;
    color: white;
}

.Body_container{
    width: 94%;
    margin: auto;
    background-color: black;
    border-radius: 5px;
}

header{
    margin-top: 20px; 
    top: 0;
    left: 0;
    width: 90%;
    padding: 1rem 9%;
    background-color: transparent;
    filter: drop-shadow(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 3rem;
    color: #ffffff;
    margin-top: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 800;
    padding: 10px;
    background-color: greenyellow;
    border-radius: 100%;
   
}

.logo:hover{
    transform: scale(1.1);
}

#home_img{
    border-radius: 50%;
}

nav a{
    font-size: 1.8rem;
    color: white;
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;

}

nav a:hover, nav a.active{
    color: greenyellow;
    border-bottom: 3px solid greenyellow;
}

section{
    min-height: 100vh;
    padding: 5rem 9% 5rem;
}

.home{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
}

.home .home_content h1{
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.3;
}

span{
    color: greenyellow;
}

.home_content h3{
    font-size: 4rem;
    margin-bottom: 1rem;
    font-weight: 700;
}

#home_img{
    border-radius: 50%;
}

#home_img img{
    position: relative;
    width: 30vw;
    border-radius: 50%;
    box-shadow: 0 0 25px solid greenyellow;
    cursor: pointer;
    transition: 0.2s linear;
}

#home_img img:hover{
    font-size: 1.8rem;
    font-weight: 500;
}

.social_icons a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background-color: transparent;
    border-radius: 50%;
    border: 0.2rem solid #ffffff;
    font-size: 2rem;
    margin: 3rem 1.5rem 3rem;
    transition: 0.3s ease;
    color: #ffffff;

}

